@import 'assets/styles/common/variables';

.Loader {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(255,255,255,0.8);

    .Loader__icon {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        border: 5px solid $light-gray;
        animation: spin 1s linear infinite;
        border-top: 5px solid $dark-gray;
        border-radius: 50%;
        width: 50px;
        height: 50px;
    }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}