.AddButton{display:inline}.add-icon{text-align:center;font-size:2rem;grid-area:a;color:#00d800}.add-icon svg{filter:drop-shadow(2px 2px 2px black)}.add-icon :active{color:#060}.add-icon :visited{color:#00d800}.add-icon svg:active{filter:none}
