@import 'assets/styles/common/variables';

.Notification {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(255,255,255,0.8);
    width: 100%;
    height: 100%;
    z-index: 8;

    &.Notification--error{
        .Notification__message{
            border-top: 2px solid $red;
        }
    }

    .Notification__message{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 300px;
        height: 80px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid $border-color;
        border-radius: 2px;
        padding: $space-m;
        background: $white;
        z-index: 16;
    }

    .Notification__close{
        position: absolute;
        top: -8px;
        right: -8px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: white;
        border: 1px solid #ccc;
        cursor: pointer;

        &:before,
        &:after{
            content: ' ';
            position: absolute;
            left: 8px;
            top: 4px;
            height: 10px;
            width: 2px;
            background-color: $text-color;
        }
        &:before {
            transform: rotate(45deg);
        }
        &:after {
            transform: rotate(-45deg);
        }
    }
}