@import 'assets/styles/common/normalize';
@import 'assets/styles/common/variables';
@import 'assets/styles/common/typography';
@import 'assets/styles/common/buttons';
@import 'assets/styles/common/forms';

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}