.Game {
  width: max-content;
  margin: 5vw auto;
  text-align: center;
}

button.hand-select {
  margin-top: 1vw;
  margin-bottom: 1vw;
  border: 1px solid #999;
  float: left;
  font-weight: bold;
  line-height: 34px;
  padding: 2vw;
  text-align: center;
}