.Guestbook .Guestbook__header{text-align:left}.Guestbook .Guestbook__content{display:flex;text-align:left}.Guestbook .Guestbook__content .Guestbook__form{flex-basis:50%;max-width:50%;border:1px solid #ccc;padding:1rem;background-color:rgba(248,248,248,0.5)}
