.Innovation{margin:1vw}.Innovation .Innovation__header{text-align:left}.Innovation .Innovation__content{display:flex}.Innovation .Innovation__content .Innovation__list{flex-basis:25%;max-width:25%}.Innovation .Innovation__content .Innovation__list .List .ListBasic .ListBasic--grid{grid-template-columns:auto auto}.Innovation .Innovation__content .Innovation__detail{display:flex;justify-content:center;align-items:center;flex-basis:75%;max-width:75%;margin-left:1.5rem;padding:1rem;background-color:rgba(248,248,248,0.5)}.Innovation .Innovation__content .Innovation__detail--empty p{font-size:24px}
